<html>

    <style>
        body {text-align: center;}
    
        body {
            background-color: yellow;
        }
        div {
            height: 1350px;
            margin: 150px;
            border: 5px solid;
            background-color: #FFFFFF;
        }
    </style>

    <div> 

        <h1> Personality: Happy </h1>

        <img src="home/andrew/Documents/Projects/suicidepre/templates/happyface.png">

    <p> 
        You make good decisions and you should be proud of yourself. Keep working hard and making good decisions! <br>
        Remember it is recommended to take breaks to relax and not overstress yourself. 
        <br>
        <br>
        If you are feeling lost and need advice for a problem, then its advised to talk to a family member or close friend for help. 
        <br>
        <br>
        If you are feeling suicidal, help is available. Please call 1-800-273-8255 for the Suicide Prevention Lifeline <br>
        or click the button below to enter the Suicide Prevention Lifeline website.
    </p>

   

    <button class="btn btn-success" onclick=" window.open('https://suicidepreventionlifeline.org/','_blank')"> Suicide Prevention Lifeline</button>

    <br>
    <br>
    <br>
    <br>

    If you have a substance use problem, help is available from American Addiction Centers. Please call 886-827-2824 <br>  
    or click the button below to enter the American Addiction Centers website.
    <br>
    <br>
    
    <button class="btn btn-success" onclick=" window.open('https://americanaddictioncenters.org/','_blank')"> American Addiction Centers Website</button>

    <br>
    <br>
    <br>
    <br>

    To return the Personality Quiz click the button below 
    <br>
    <br>

    <button onclick="back()">Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>
    </div>   

</html>