<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Scoutah</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body id = "invenBody">

    <h1>Inventory</h1>

    <div>
        <table class = "table">
            <tr class = "header">
                {% for header in headings %}
                <th class = "tableCell"> {{header}} </th>
                {% endfor %}
            </tr>

            {% for row in inven_data %} 
            <tr data-status= "IN" data-status2="OUT">
                {% for item in row %}    
                <td> {{item}} </td>
                {% endfor %}
                
            </tr>
            {% endfor %}
        </table>

        

    </div>

  
   
    <!-- <script src="./static/js/script.js"></script> -->
  </body>
</html>