<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Scoutah</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body id = "save">

    <nav>
      <h1>{{data}}</h1>

    </nav>
    
    <a href = ""> <button class = "redirectButton"> Scan Again </button> </a>
    <a href = "inventory"> <button class = "redirectButton"> Inventory </button> </a>
    <a href = "/"> <button class = "redirectButton"> Home </button> </a>
   
    <!-- <script src="./static/js/script.js"></script> -->
  </body>
</html>

<!-- lazy reloading look it up --> 